{% extends 'layouts/admin_layout.twig' %}
{% block title %}
	admin good info
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h3>General information</h3>
				<div class="goodImageContainer">
					<a href="#" onclick="editMainGoodImg()">
						<img src="/img/goods/{{good.getImg()}}" class="bigGoodImg" id="main-good-img">
					</a>
					<div id="bigImgDescript">

						It's the main image of this good. To load a new image press on the picture
					</div>
				</div>
				<label for="name">Title:
				</label><br>
				<input name="name" value="{{good.getName() | raw}}" class="form-control" onchange="markChanged(this)" id="name">
				<br>
				<label for="category">Category:
				</label><br>
				<select size="1" name="category" value="{{good.getCategory()}}" class="form-control" onchange="markChanged(this)" id="category">
					{% for category in good.getCategoriesList()  %}
						<option value="{{category.id}}" {% if category.id==good.getCategory() %} selected {% endif %}>{{category.name}}</option>
					{% endfor %}
				</select>
				<br>

				<div class="form-group">
					<label for="description">Description</label>
					<textarea class="form-control" id="description" rows="3" onchange="markChanged(this)">{{good.getDescription()}}</textarea>
				</div>

				<button class="btn btn-default" onclick="saveGeneralInfo({{good.getId()}})">
					Save changes
				</button>

				<button class="btn btn-default" onclick="restoreInitParams()">
					Cancel editing
				</button>
				{# <button class="btn btn-default">
																									Cancel
																								</button> #}
			</div>


			<div class="col-md-6">

				<ul class="nav nav-tabs">

					<li class="active">
						<a data-toggle="tab" href="#images">Additional images</a>
					</li>
					<li>
						<a data-toggle="tab" href="#good_price_block">Prices</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane" id="images">
						Images
					</div>
					<div class="tab-pane" id="good_price_block">
						{% include "components/good_price_list.twig" %}
					</div>
				</div>

			</div>

		</div>
	</div>


	{% include "components/load_img_form.twig" %}


	{% include "components/good_price_edit.twig" %}


	<script src="/js/adminGoodOperations.js" defer></script>
{% endblock %}
