{% extends 'layouts/admin_layout.twig' %}
{% block title %}
	admin good info
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h3>General information</h3>
				<div class="goodImageContainer">
					<img src="/img/goods/{{good.getImg()}}" class="bigGoodImg">
					<div>
						<form>
							<div class="form-group">
								<label for="loadMainImg">Load new main img file
								</label>
								<input type="file" class="form-control-file" id="loadMainImg">
							</div>
						</form>
					</div>
				</div>
				<label for="name">Title:
				</label><br>
				<input name="name" value="{{good.getName() | raw}}" class="form-control" onchange="markChanged(this)">
				<br>
				<label for="category">Category:
				</label><br>
				<select size="1" name="category" value="{{good.getCategory()}}" class="form-control" onchange="markChanged(this)">
					{% for category in good.getCategoriesList()  %}
						<option value="{{category.id}}" {% if category.id==good.getCategory() %} selected {% endif %}>{{category.name}}</option>
					{% endfor %}
				</select>
				<br>

				<div class="form-group">
					<label for="description">Description</label>
					<textarea class="form-control" id="description" rows="3" onchange="markChanged(this)">{{good.getDescription()}}</textarea>
				</div>

				<button class="btn btn-default">
					Save changes
				</button>
				{# <button class="btn btn-default">
					Cancel
				</button> #}
			</div>


			<div class="col-md-6" id="good_price_block">

				{% include "components/good_price_list.twig" %}

			</div>

		</div>
	</div>


<!-- Модальное окно редактирования цены-->  
<div class="centered-form hidden" id="edit-price-form">
	<div class="editFormTitle"> Edit price </div>
	<div class="form-group">
		<label for="editDate">Start date for price
		</label>
		<input type="date" class="form-control" id="editDate">
	</div>
	<div class="form-group">
		<label for="editPrice">Price
		</label>
		<input type="number" class="form-control" id="editPrice" step="0.01" min="0">
	</div>
	<div class="form-group">
		<label for="editCurrency">Currency
		</label>
		<select size="1" name="editCurrency" id="editCurrency" class="form-control">
					{% for currency in good.getCurrencyList()  %}
						<option value="{{currency.currency}}" >{{currency.currency}}</option>
					{% endfor %}
				</select>
	</div>

		<button class="btn btn-primary" onclick="postPriceEditing({{good.getId()}})">
			Save changes
		</button>
		<button class="btn btn-default" onclick="cancelPriceEditDlg()">
			Cancel
		</button>

<div>

	<script src="/js/adminGoodOperations.js" defer> </script>
{% endblock %}
