{% extends 'layouts/admin_layout.twig' %}
{% block title %}
	admin orders
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="col-md-4">
			<h3>
				General info</h3>
			<div class="form-group">
				<label for="id">Order No</label>
				<input name="id" id="id" value="{{order.getId()}}" class="form-control" disabled="true">
			</div>

			<div class="form-group">
				<label for="date_open">Date created</label>
				<input name="date_open" id="date_open" value="{{order.getDateOpen()}}" class="form-control" disabled="true">
			</div>

			<div class="form-group">
				<label for="login">User login (if registered)</label>
				<input name="login" id="login" value="{{order.getLogin()}}" class="form-control" disabled="true">
			</div>

			<div class="form-group">
				<label for="delivery">Delivery type</label>
				<select size="1" name="delivery" value="{{order.getDelivery()}}" class="form-control" id="delivery" onchange="markChanged(this)">
					{% for delivery in order.getDeliveriesList()  %}
						<option value="{{delivery.name}}" {% if delivery.name==order.getDelivery() %} selected {% endif %}>{{delivery.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="payment">Payment type</label>
				<select size="1" name="payment" value="{{order.getPayment()}}" class="form-control" id="payment" onchange="markChanged(this)">
					{% for payment in order.getPaymentsList()  %}
						<option value="{{payment.name}}" {% if payment.name==order.getPayment() %} selected {% endif %}>{{payment.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="contact_name">Contact name</label>
				<input name="contact_name" value="{{order.getContactName() }}" class="form-control" id="contactName" onchange="markChanged(this)">
			</div>

			<div class="form-group">
				<label for="contact_phone">Contact phone</label>
				<input name="contact_phone" value="{{order.getContactPhone()}}" class="form-control" id="contactPhone" onchange="markChanged(this)">
			</div>


			<div class="form-group">
				<label for="delivery_adress">Delivery adress</label>
				<input name="delivery_adress" value="{{order.getDeliveryAdress()}}" class="form-control" id="deliveryAdress" onchange="markChanged(this)">
			</div>

			<div class="form-group">
				<label for="comment">Comments</label>
				<textarea class="form-control" id="comments" name="comment" rows="3" onchange="markChanged(this)">{{order.getComment()}}</textarea>
			</div>

			<div class="form-group">
				<button class="btn btn-default" onclick="editOrder({{order.getId()}})">
					Save general information changes
				</button>

			</div>

		</div>
		<div class="col-md-4" id="order_positions">
			{% include "components/order_position_comp.twig" %}
		</div>

		
		<div class="col-md-4" id="order_history_comp">
			{% include "components/order_history_comp.twig" %}
		</div>
	</div>

	<script src="/js/adminOrderOperations.js" defer></script>
{% endblock %}
