<div class="goods-list">
	<h2 class="grayTitle">
		{{ goodListTitle }}
	</h2>

	{% for good in goods %}

		<div class="goods-item">

			<img src={{"/img/goods/good.img"|replace({'good.img':good.img} ) }}>
			<h3>
				{{good.name}}</h3>
			<p>
				{{good.price}}
				{{good.currency}}</p>
			<button type="submit" class="buiItBtn orangeStyled" onclick="addItemToCarts( {{ good.id}},'{{good.name}}','{{good.img}}', {{good.price}} ,'{{good.currency}}')">
				Buy it
			</button>
		</div>
	{% endfor %}

</div>
