<h3>Prices</h3>

<table>
  <tr>
    <td class="header_cell">
      #
    </td>
    <td class="header_cell">
      Start date
    </td>
   
    <td class="header_cell">
      Price
    </td>
    <td class="header_cell">
      Currency
    </td>
    <td class="header_cell">
      <button class="btn btn-default" onclick="startPriceAdd()">
        Add price
      </button>
    </td>
  </tr>
  {% for price in good.getPriceList() %}
  <tr>
    <td>
      {{ price.id }}
    </td>
    <td>
      {{ price.date_open }}
    </td>
   
    <td>
      {{ price.price |number_format(2, '.', ',') }}
    </td>
    <td>
      {{ price.currency }}
    </td>
    <td>
      <a href="#" onclick="startPriceEdit({{price.id}},{{price.price}},'{{price.currency}}','{{price.date_open}}')">Edit</a>
      <a href="#"onclick="deletePrice({{good.getId()}},{{price.id}})"> Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
